

/* boder */

body {
    background-color: #0F0F0F;
    padding-left: 70px;
    padding-right: 70px
}

.mainBorder {
    background-color: #EAEAEA;
    padding-top: 10px;
    padding-bottom: 10px;
}

.articleBorder {
    background: white;
    margin: 30px;
    padding: 30px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-right-color: darkgray;
    border-bottom-color: darkgray;
}

.bottomBorder {
    background-color: black;
    text-align: center;
    color: white;
    font-size: 15px;
    padding-bottom: 30px;
}

.topBorder {
    background-color: #EE1289;
    padding: 15px;
    width: all;
    height: 30px;
}


/* ------- */


/* topborder setting */

.topBorder a {
    font-weight: bold;
    color: #EAEAEA;
    text-decoration: none;
    display: inline-block;
     /*display: block;*/
/*    background-color: #B2DFEE;
    width: 150px;
    boder:2px solid black;
    border-color: black;*/
}
.topBorder a:hover{
    color:#666;
    /*display: block;
    /*background-color: yellow;*/
    
}

.topBorder ul {
    color: #E0FFFF;
}

.row {
    margin: 0px;
    padding: 0px;
    float: right;
}

.rowGuide {
    /*float: left;*/
    display: inline;
    margin: 0px;
    padding-right: 20px;
}

.noDot {
    list-style-type: none;
}


/* ------- */


/* content */
.oldPrice{
    color: gray;
    font-size: small;
    text-decoration: line-through;
}
.newPrice{
    color: red;
    font-size: large;
    font-weight: bold;
}
.secondLevel {
    color: gray;
}
p{
    text-indent: 2em;
}
p a{
    text-decoration: none;
    color: #666; 
    /*display: block;*/
}
p a:hover{
    color: #EE1289;
}


/* picture */

.picBorder {
   /* float: left;*/
    /* border-width: 5px 10px 10px 5px;*/
     width: 170px;
     height: 280px;
    /*此处有疑问*/
    border: solid #ddd 3px;
    margin: 10px;
    /*padding: 10px;*/
    /*background: #fff;*/
    position: relative;
   
}
.pic{
    position: absolute;
    margin: 10px;
}


/* table */

.format {
    width: 100%;
    border-collapse: collapse;
    border-color: #EAEAEA;
}

.format td,
tr {
    border-color: #EAEAEA;
    /*设置中间横纵线的颜色*/
}

.top {
    background-color: #3D3D3D;
    color: white;
    text-align: left;
}

.bottom {
    background-color: gray
}


/* ------ */


/* input */

.note {
    color: gray;
    margin-left: 31.5%;
    font-size: smaller;
}


.alignment {
    position: relative;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    width: 30%;
    float: left;
    line-height: 15px;
}


.inputAlign {
    margin-right: 5px;
    line-height: 10px;
    margin-top: 10px;
}

.textAlign {
    width: 50%;
    height: 150px;
}

.buttonAlign {
    width: 100%;
    height: 40px;
    border: 2px solid #1874CD;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #1C86EE;
    color: white;
    font-family: "华文新魏";
    font-size: 150%;
    font-size-adjust: auto;
}


