

/* boder */

.mainBorder {
     background-color: #EAEAEA;
    border:solid black;
}

.articleBorder {
    background: white;
    margin: 30px;
    padding: 30px;
    border-right: solid darkgray 3px;
    border-bottom: solid darkgray 3px;
    border-top: solid darkgray 1px;
    border-left: solid darkgray 1px;
}

.bottomBar {
    background-color: black;
    text-align: center;
    color: white;
    font-size: 15px;
    padding-bottom: 30px;
}

.topBar {
    background-color: #EE1289;
    padding: 15px;
    width: all;
    height: 30px;
}
.mainBar{
    overflow: hidden;
    float:left;
    width: 63%;
   
}
.sideBar{
    position: absolute;
    right: 9px;
    width: 30%;
}

/* ------- */


/* topbar setting */

.topBar a {
    font-weight: bold;
    color: #EAEAEA;
    text-decoration: none;
    display: inline-block;

}
.topBar a:hover{
    color:#666;
 
    
}

/*.topBar ul {
    color: #E0FFFF;
}*/

.row {
    margin: 0px;
    padding: 0px;
    float: right;
}

.rowGuide {
    /*float: left;*/
    display: inline;
    margin: 0px;
    padding-right: 20px;
}

.noDot {
    list-style-type: none;
}
/*.emphasize{
    color: darkgray;
}*/

/* title */
.title{
    border-left: 4px solid gray;
    padding-left: 10px;
}


/* content */
.oldPrice{
    color: gray;
    font-size: small;
    text-decoration: line-through;
}
.newPrice{
    color: red;
    font-size: large;
    font-weight: bold;
}
.secondLevel {
    color: gray;
}
p{
    text-indent: 2em;
}
p a{
    text-decoration: none;
    color: #666; 
    /*display: block;*/
}
p a:hover{
    color: #EE1289;
}
.content{
    margin-left: 50px;
}


/* picture */

.picBorder {
   /* float: left;*/
    /* border-width: 5px 10px 10px 5px;*/
     width: 154px;
     height: 280px;
    /*此处有疑问*/
    border: solid #ddd 3px;
    margin: 10px;
    /*padding: 10px;*/
    /*background: #fff;*/
    position: relative;
    float: left;
}
.pic{
    position: absolute;
    margin: 10px;
}


/* table */

.format {
    width: 100%;
    border-collapse: collapse;
    border-color: #EAEAEA;
}

.format td,
tr {
    border-color: #EAEAEA;
    /*设置中间横纵线的颜色*/
}

.top {
    background-color: #3D3D3D;
    color: white;
    text-align: left;
}

.bottom {
    background-color: gray
}


/* ------ */


/* input */

.note {
    color: gray;
    position: relative;
    left: 42.5%;
    font-size: 0.8em;
}


.alignment {
    position: relative;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    width: 40%;
    float: left;
    line-height: 15px;
}


.inputAlign {
    margin-right: 5px;
    line-height: 10px;
    margin-top: 10px;
}

.textAlign {
    width: 50%;
    height: 150px;
}

.buttonAlign {
    width: 100%;
    height: 40px;
    border: 2px solid #1874CD;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #1C86EE;
    color: white;
    font-family: "华文新魏";
    font-size: 150%;
    font-size-adjust: auto;
}


